:root {
    /* Colors */
    --colorPrimary: #820AD1;
    --colorSecundary:rgb(151, 11, 244);
    --colorGrey1: #212529;
    --colorGrey2: #868E96;
    --colorGrey3: #E9ECEF;
    --colorGrey4: #F1F3F5;

    /* Titles sizes */
    --fontTitle1: 40px;
    --fontTitle2: 32px;
    --fontTitle3: 24px;
    --fontTitle4: 18px;

    /* Text sizes */
    --fontText1: 16px;
    --fontText2: 14px;
    --fontText3: 12px;

    /* Text Weigths */
    --fontWeigth1: 600;
    --fontWeigth2: 500;
    --fontWeigth3: 400;

    /* Radius */
    --radius1: 12px;
    --radius2: 9px;
    --radius3: 6px;

    /* Heigth components */
    
    --buttonHeigthDefault: 44px;
    --buttonHeigthMedium: 34px;
    --buttonHeigthLittle: 26px;

    --inputHeigthDefault: 44px;
    --inputHeigthMedium: 34px;
    --inputHeigthLittle: 26px;

    /* Width components */

    --buttonWidthDefault: 240px;
    --buttonWidthMedium: 190px;
    --buttonWidthLittle: 140px;

    --inputWidthDefault: 240px;
    --inputWidthMedium: 190px;
    --inputWidthLittle: 140px;

    /* margins */

    --gap-1: 32px;
    --gap-2: 28px;
    --gap-3: 24px;
    --gap-4: 20px;
    --gap-5: 16px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

